.tag {
    border-radius: 30px;
    border: 4px solid black;
    width: 400px;
    height: 300px;
}

header{
    background: red;
    border-top-right-radius: 27px;
    border-top-left-radius: 27px;
    padding: 2px;

}

.hello {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: white;
}

.mynameis {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}


